<nav class="navbar navbar-light bg-light static-top">
    <div class="container"><img src="assets/uni.jpg" style="width: 240px; height: 48px;" title="Sistema de transferencia de datos y almacenamiento" class="img-responsive">
      <a class="navbar-brand" href="#">Sistema de Información para Reuniones Virtuales de la UTXJ (SIRV)</a>
      <a class="btn btn-primary" href="#"  title="Presiona aquí para salir del Sistema" value="Cerrar Sesión">Salir</a>
    </div>
  </nav>
  

<div class="alert alert-warning" role="alert" *ngFor="let item of items">
    Link de la reunion : {{item.name}}<br>
    Fecha : {{item.name2}}<br>
    Hora : {{item.name3}}<br>
    Comentarios Extra : {{item.name4}}
</div>

<img src="assets/u1.PNG" style="width: 1340px; height: 500px;" align="center" title="Universidad Tecnólogica de Xicotepec de Juárez" class="img-responsive">
  <br><br>

<section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Conocenos</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets/c1.jpg" alt="">
            <h5>M.S.C. Francisco Garcia Romero</h5>
            <p class="font-weight-light mb-0">Encargado del Área Tecnologías de la Información</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets/c3.jpg" alt="">
            <h5>ITIC. Mayra Ibarra Santos</h5>
            <p class="font-weight-light mb-0">Encargada de estadias del Área Tecnologías de la Información</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets/c2.jpg" alt="">
            <h5>C.P. Virginia Márquez Hernández</h5>
            <p class="font-weight-light mb-0">Secretaria del Área Tecnologías de la Información</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  